
<body>

  <div class="contenedorpadre">
    <div class="hijo1">
      <div class="principal">
          <div class="contenedor">
            <label for="">CODIGO DE BARRAS</label>
            <input type="text">
          </div>

      </div>
      <div class="principal">
          <div class="contenedor">
            <label for="">CODIGO DE BARRAS</label>
            <input type="text">
          </div>
            <input type="text" class="span2" id="dp1">
      </div>


    </div>
    <div class="hijo2"> </div>
    <div class="hijo3"> </div>
    <label for="dateofbirth">Date Of Birth</label>
    <input type="date" name="dateofbirth" id="dateofbirth">
  </div>
  <input id="datepicker" width="276" />



</body>
